<!DOCTYPE html>
<html>
<body>

<h1>Bot Actions</h1>
</br>

<div>
  Hello, I can help you if you reply with the following formats
</div>
</br></br>

<div>
  <table border=0 cellpadding=5 style="border-width:2px;">
    <tr>
      <td align=left style="font-weight: bold">
        Order Summary
      </td>
      <td>
        Order ID, API Token
      </td>
    </tr>
    <tr>
      <td align=left style="font-weight: bold">
        Check Item Price
      </td>
      <td>
        Item ID, Item Location ID, Customer ID, API Token
      </td>
    </tr>
  </table>
</div>

</body>
</html>
